# don't copy the Dockerfile as it's not needed inside the image
Dockerfile

# ignore requirements.txt as it's generated during image build
requirements.txt

# project files
README.md
LICENSE
.gitignore
