# don't copy the Dockerfile as it's not needed inside the image
Dockerfile

# ignore Pipfiles as requirements.txt is generated before
# and used inside the image
Pipfile
Pipfile.lock

# project files
README.md
LICENSE
.gitignore
